.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50pxs;

    .left-content {
        border: 1px solid red;
        width: 70%;

        .title {
            font-size: 30px;
            font-weight: 600;
        }

        .q-content {
            .q-image {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                img {
                    width: 300px;
                    height: 200px;
                }

            }
            .question {
                font-size: 20px;
                font-weight: 600;
            }

            .answer {}

        }

        .footer {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }

    .right-content {
        border: 1px solid blue;
        width: 30%;
    }
}