.login-register-container {
    .header {
        height: 45px;
        padding: 0 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        button {
            padding: 3px 15px;
            border: none;
            margin-left: 15px;
            border-radius: 5px;
            background: #ccc;
            border: 1px solid #000;
            &:hover {
                background:#fff;
            }
        }

    }
    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }

    .welcome {
        font-size: 25px;
        padding: 10px 0;
        text-align: center;

    }
    .content-form {
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        gap: 15px;
        input{
            margin-bottom: 10px;
            margin-top: 3px;
        }
        button {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: none;
            margin: 20px 0;
            color: #fff;
            background: black;
        }
        .back {
            cursor: pointer;
        }
        .from-pass {
            position: relative;
            .hiden-show-pass {
                position: absolute;
                top: 4px;
                right: 4px;
                
            }
        }
    }
}